*{
    padding: 0;
    margin: 0;
    font-family: century gothic;
    box-sizing: border-box;
}
.hero{
    font-size: 20px;
    padding: 20px;
}

.hero{
    height: 600px;
    width: 100%;
}
 .hero-mid{
    padding: 280px 100px;
    display: inline-flex;
}
.hero-heading h3{
    font-size: 35px;
    animation: fadeInRight 2s ease;
}

span{
    color: #05aae0;
    font-weight: bold;
} 
.hero-btn{
    padding: 12px 8px;
    background-color: transparent;
    border: 2px solid #05aae0;
    margin-top: 17px;
    cursor: pointer;
    color: #05aae0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    animation: fadeInUp 2s ease;
}
.hero-btn1{
    padding: 12px 8px;
    background-color: #05aae0;
    border: 2px solid #05aae0;
    margin-top: 17px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    animation: fadeInUp 2s ease;
}
.hero-btn1:hover{
    background-color: transparent;
    color: #05aae0;
}
.hero-btn:hover{
    background-color: #05aae0;
    border: 2px solid #05aae0;
    color: white;
	/* transform: scale(1.1); */

}

/* ############################
        ABOUT SECTION START
   ############################ */

.about{
	background-color: whitesmoke;
	overflow: hidden;
}
.heading h1{
	font-size: 30px;
	text-align: center;
	margin-top: 35px;
    animation: fadeInRight 2s ease;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: 65px auto;
}
.hero-content{
	flex: 1;
	width: 600px;
	margin: 0px 50px;
	animation: fadeInUp 2s ease;
}
.hero-content h2{
	font-size: 25px;
	margin-bottom: 20px;
}
.hero-content p{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
	color: #666;
}
.hero-content button{
	display: inline-block;
	background-color: #05aae0;
	color: #fff;
    font-weight: bold;
	padding: 10px 20px;
	font-size: 15px;
	border: 2px solid #05aae0;
	cursor: pointer;
	transition: 0.3s ease;
}
.hero-content button:hover{
	background-color: transparent;
	/* transform: scale(1.1); */
    border: 2px solid #05aae0;
    color: #05aae0;
    box-shadow: none;
}
.about-image{
	flex: 1;
	width: 600px;
	margin: auto;
	animation: fadeInRight 2s ease;
}
.about-image img{
	width: 90%;
	height: auto;
	border-radius: 10px;
}



/* ############################
        SKILL SECTION START
   ############################ */

.skill{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skill-heading h1{
    margin-top: 30px;
    font-size: 30px;
    animation: fadeInRight 2s ease;

}
.skill-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 40px 50px;
    
}
.skill-card{
    width: 100%;
    min-height: 250px;
    border: 2px solid lightgray;
    padding: 0px 20px;
    padding-bottom: 20px;
    transition: .4s;
    
}
.skill-card:hover{
    transform: translate(0px, -6px);
    cursor: pointer;
}
.skill-card img{
    height: 70px;
    width: 70px;
    margin: 30px 0px;
}
.skill-card h2{
    font-size: 20px;
    padding-bottom: 7px;
}
.skill-card p{
    font-size: 16px;
    text-align: justify;

}
/* ############################
        SERVICES SECTION START
   ############################ */
   
.Services{
    height: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
    background-color: whitesmoke;
}

.service-heading h1{
    font-size: 30px;
    padding-top: 50px;
    animation: fadeInRight 2s ease;
}

.Services-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center; 
    margin: 50px 100px auto;
}

.cards{
    display: inline-block;
    min-height: 380px;
    width: 100%;
    border: 2px solid lightgray;
    background-color: #ffffffb0;
    transition: .4s;
}

.cards:hover{
    transform: translate(0px, -6px);
    cursor: pointer;
}
.cards-text{
    text-align: left;
    padding-left: 25px;
    padding: 50px 25px;
}
.cards-text h3{
    padding-bottom: 10px;
    font-size: 25px;
}
.cards img{
    height: 100px;
    width: 100px;
    margin-top: 60px;
}


.Portfolio{
  height: 400px;
  width: 100%;
  background-color: whitesmoke;  
}


/* ############################
        PROJECTS SECTION START
   ############################ */

.portfolio{
    height: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.project-heading h1{
    height: 50px;
    margin: 50px;
    animation: fadeInRight 2s ease;
    font-size: 30px;
}
.project-heading h3{
    font-size: 30px;
}
.portfolio-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 50px;
}
.portfolio-cards img{
    height: 250px;
    width: 100%;
    box-shadow: 0px 0px 8px lightgray;
    cursor: pointer;
    border: 2px solid lightgray;
    transition: .4s;

}
.portfolio-cards img:hover{
    transform: translate(0px, -6px);
}

/* ############################
        CONTACT SECTION START
   ############################ */

.contect{
    height: 650px;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}
.contact-heading h1{
    font-size: 30px;
    padding-top: 40px;
    animation: fadeInRight 2s ease;
}
.contact-form{
    width: 500px;
    height: 500px;
    margin: 10px auto;
    padding: 30px;
    text-align: left;
    border-radius: 8px;
}
.contact-form label{
    font-size: 18px;
    margin-bottom: 50px;
    padding-left: 10px;
}
.contact-form input{
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    outline: 0;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
textarea{
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    outline: 0;
    margin-top: 5px;
}
.contact-form button{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #05aae0;
    padding: 12px 8px;
    background-color: #05aae0;
    border: 2px solid #05aae0;
    margin-top: 17px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    outline: none;
}
.contact-form button:hover{
    background-color: transparent;
    color: #05aae0;
    box-shadow: none;
}
/* ############################
        FOOTOR SECTION START
   ############################ */

.footer{
    height: 180px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 7px lightgray;
}

.social{
    padding-top: 50px;
}
.social img{
    height: 50px;
    width: 50px;
    padding: 5px;
    background-color: #05aae0;
    border-radius: 50px;
    color: white;
    transition: .4s;
}
.social img:hover{
    transform: translate(0px, -5px);
}

.footer-text p{
    font-size: 15px;
    padding-top: 20px;
}
.pro{
    border-bottom: 2px solid #05aae0;
    padding-bottom: 5px;
}


@keyframes fadeInUp{
	0%{
		opacity: 0;
		transform: translateY(50px);
	}

	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(-50px);
	}

	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@media(max-width: 1000px) {
    .hero-heading h3{
        font-size: 30px;
    }
    .hero-mid{
        padding: 200px 70px;
    }
    .hero-mid button{
        font-size: 16px;
        padding: 10px 6px;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .Services-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cards{
        width: 100%;
    }
    .portfolio-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 730px) {
    .skill-card{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
	.heading h1{
		font-size: 25px;
		margin-top: 30px;
	}
    
	.about{
		margin: 0px;
	}
	.container{
		width: 100%;
		flex-direction: column;
		margin: 0px;
		padding: 0px 40px;
	}
	.hero-content{
		width: 100%;
		margin: 35px 0px;
	}
	.hero-content h2{
        font-size: 18px;
    }
	.hero-content p{
		font-size: 16px;
		margin-bottom: 20px;
	}
	.hero-content button{
		font-size: 16px;
		padding: 8px 16px;
	}
	.about-image{
		width: 100%;
	}
    
    .Services-cards{
        display: inline-block;
        width: 90%;
        margin: 50px auto;
    }
    .cards{
        width: 100%;
        margin-top: 20px;
    }
    .wrraper .skill-box{
        width: 100%;
    }
    .contact-form{
        width: 90%;
    }
    .portfolio-cards img{
        width: 90%;
    }
    .skill-heading h1{
        font-size: 25px;
    }
    .service-heading h1{
        font-size: 25px;
    }
    .contact-heading h1{
        font-size: 25px;
    }
    .project-heading h1{
        font-size: 25px;
    }
    .skill-container{
        display: inline-block;
        padding: 40px 25px;
        gap: 20px;
    }
    .skill-card{
        width: 100%;
        margin-top: 15px;
    }
    .portfolio-cards{
        display: inline-block;
        padding: 40px 0px;

    }
    .portfolio-cards img{
        margin-top: 15px;
    }
}

